
/** shared styles **/

@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');

%title-text {
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: .3rem;
}

%subtitles {
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: .2rem;
}

html, body, #root {
  font-family: 'Anonymous Pro', monospace;
}

#projectPage, #aboutPage, #contactPage {
  h3 {
    @extend %subtitles;
  }
}

/** landing **/

#landingPage {
  background: #E4EAF6;

  h3 {
    @extend %title-text;
  }

  .cut-out {
    position: relative;
    background-color: white;
    height: 480px;
    width: 320px;
    overflow: hidden;
  }

  .landing-svgs {
    position: absolute;
    animation: svgloop linear 8s infinite;
    bottom: 0;
    left: -40px;
  }

  @keyframes svgloop {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(50%);
    }
  }
}

/** nav bar **/

#sideNavbar {
  position: fixed;
  width: 100%;

  .nav-item {
    .nav-link {
      color: black;
    } 

    .nav-link:hover {
      color: #ca2929;
    }
  }
}

/** project page **/


/** about page **/

#aboutPage .about-me, #contactPage .contact-me {
  background-color: #E4EAF6;
}

/** footer **/

#footer {

  p {
    font-size: .8rem;
  }

  .copyright {
    background-color: #E4EAF6;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }

}

/** responsiveness **/

@media (min-width: 992px) {

  #sideNavbar {
    transform-origin: right bottom;
    transform: rotate(-90deg);
    height: 50px;
    width: 100vh;
    right: 0;
    background-color: #E4EAF6;
    margin-left: auto;
    top: -50px;

    .navbar-nav {
      margin: 0 auto;
      transform: rotate(180deg);
    }

    li {
      margin: 0 .8rem;
    }
  }

}

