
/** shared styles **/

@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');

%title-text {
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: .3rem;
}

%subtitles {
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: .2rem;
}

html, body, #root {
  font-family: 'Anonymous Pro', monospace;
  scroll-behavior: smooth;
  cursor: none;
}

#projectPage, #aboutPage, #contactPage {
  h3 {
    @extend %subtitles;
  }
}

/** cursor blob **/

.cursor-trail div {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  background-color: #ca2929;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 1px #ca2929;
  
}

/** landing **/

#landingPage {
  background: #E4EAF6;

  h3 {
    @extend %title-text;
  }

  .cut-out {
    position: relative;
    background-color: white;
    height: 480px;
    width: 320px;
    overflow: hidden;
  }

  .landing-svgs {
    position: absolute;
    animation: svgloop linear 8s infinite;
    bottom: 0;
    left: -40px;
  }

  @keyframes svgloop {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(50%);
    }
  }
}

/** nav bar **/

#sideNavbar {
  position: fixed;
  width: 100%;
  font-size: .85rem;

  .nav-item {
    .nav-link {
      color: black;
    } 

    .nav-link:hover {
      color: #ca2929;
    }
  }
}

/** project page **/

#projectPage {

  .project {
    position: relative;
    width: 400px;
    display: inline-block;
  }

  .project-img {
    width: 100%;
    height: 225px;
  }

  .project-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    opacity: 0;
    transition: opacity .8s;
  }

  .project-overlay p {
    font-size: .7rem;
    overflow-wrap: break-word;
  }

  .project-blur {
    backdrop-filter: blur(10px);
  }

  .project-overlay > * {
    transform: translateY(-20px);
    transition: transform .8s;
  }

  .project-overlay:hover {
    opacity: 1;
  }

  .project-overlay:hover > * {
    transform: translateY(0);
  }

  .project-note {
    font-size: x-small;
    color: #515151;
  }

  #logo-svgs {
    transform-origin: center;
    animation: circling 20s linear infinite;
  }

  .project-svgs {
    max-width: 250px;
  }

}

/** about page **/

#aboutPage .about-me, #contactPage .contact-me {
  background-color: #E4EAF6;
}

.wave-word span {
  display: inline-block;
  animation: wave .5s ease-in-out infinite;
  animation-delay: calc( 0.1s * var(--letter));
  animation-direction: alternate;
}

@keyframes wave {
  0% { trasform: translateY(5px); }
  100% { transform: translateY(-5px); }
}

#my-hobbies-svgs {
  transform-origin: center;
  animation: circling 20s linear infinite;
  overflow: visible;
}

@keyframes circling {
  0% { transform: rotate(0deg)  }
  100% { transform: rotate(360deg) }
}

svg {
  overflow: visible;
}

.about-svgs {
  max-width: 250px;
}

/** contact page **/ 

#contactPage {

  input, textarea {
    border-radius: .5rem;
    border: 2px solid lightgreen;
    width: 70%;
  }

}

/** footer **/

#footer {

  p {
    font-size: .8rem;
  }

  .copyright {
    background-color: #E4EAF6;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }

}

/** responsiveness **/

@media (min-width: 992px) {

  #sideNavbar {
    transform-origin: right bottom;
    transform: rotate(-90deg);
    height: 50px;
    width: 100vh;
    right: 0;
    margin-left: auto;
    top: -50px;

    .navbar-nav {
      margin: 0 auto;
      background-color: #E4EAF6;
      border-bottom-left-radius: 1rem;
      border-bottom-right-radius: 1rem;
      transform: rotate(180deg) translateY(-100%);
      animation: slide ease 1.3s forwards;
      animation-delay: 1.3s;
    }

    .social-links a {
      transform: rotate(-90deg);
    }

    li {
      margin: 0 .8rem;
    }

    @keyframes slide {
      0% { transform: rotate(180deg) translateY(-100%) }
      100% { transform: rotate(180deg) translateY(0%) }
    }
  }

  .about-svgs, #projectPage .project-svgs {
    max-width: 350px;
  }

}

